@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

div textarea {
  resize: none;
  overflow: hidden;
  height: 20px;
  width: 7rem;
  margin: 0.25rem 0 
}

fieldset {
  border: 0;
}

.overflow {
  height: 200px;
}

.hidden {
    display: none;
}

.visible {
    display: all;
}

#fixed-nav {
  position: absolute;
  width: 99%;
  height: 2rem;
}

.frost {
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.border {
  border: 2px solid black;
}

.border2 {
  border: 2px solid rgb(231, 22, 22);
}

.border3 {
  border: 2px solid rgb(38, 196, 77);
}

.recall-header,
.maint-header,
.due-maint {
  text-align: center;
}

.recall-item {
  border: 2px solid rgb(38, 196, 77);
  padding: 1rem;
}

.maint-section {
  border: 2px solid rgb(38, 196, 77);
  padding: 1rem;
  margin:  20px 10px 10px 10px; 
}

.maint-list {
  border: 2px solid rgb(29, 116, 216);
  padding: 10px;
  margin: 10px;
}

.b-bottom {
  border-bottom: 3px solid black;
}